.user-input-form {
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    width: 90%;
}

.user-input-form label {
    display: inline-block;
    margin: 0.5rem auto;
}

.user-input-form input {
    display: block;
    width: 100%;
    height: 1.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.user-input-form__button {
    border: none;
    background-color: rgb(131, 74, 184);
    color: white;
    font-size: 1rem;
    padding: 4px 16px;
    margin: 0.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
}

.user-input-form__button:hover,
.user-input-form__button:active {
    background-color: rgb(100, 47, 149);
}
